<section>
Hong Kong
<!-- <div data-ng-bind="portController.testTwo"></div> -->
<br />
<br />
<p>
  Search:
  <input type="text" ng-model="search"></input>
</p>

<div ng-if="bool" class="fade">
   Fade me in out
</div>
<button class="shaker" ng-click="bool=true">Fade In!</button>
<button ng-click="bool=false">Fade Out!</button>

<button ng-click="clickOrder='name'">Order by Name</button>
<button ng-click="clickOrder='unitPrice'">Order by Unit Price</button>
<p>Cheat: add product form</p>
<form ng-submit="vm.addProduct()">
    <input type="text" placeholder="name" ng-model="vm.newProduct.name" />
    <input type="text" placeholder="unit price" ng-model="vm.newProduct.unitPrice" />
    <input type="text" placeholder="quantity" ng-model="vm.newProduct.quantity" />
    <input type="checkbox" placeholder="legal" ng-model="vm.newProduct.legal">legal?</input>
    <input type="submit" value="Add a new product" />
</form>
<ul id="productList">
    <!-- <li ng-repeat="product in localgoods | orderBy:clickOrder | filter: search" ng-show="product.legal"> -->
  <li ng-repeat="product in vm.localgoods" ng-show="product.legal">
    {{product.name}} - {{product.unitPrice | currency: '£'}} - quantity: {{product.quantity}}
    <button ng-click="vm.buyProduct(product)">Buy</button>
    <button ng-click="vm.sellProduct(product)">Sell</button>
  </li>
</ul>

</section>
